- subject = local_assigns[:subject]
- force_priority = local_assigns.fetch(:force_priority, false)
- subject_or_group_defined = defined?(@project) || defined?(@group)
- show_label_issues_link = subject_or_group_defined && show_label_issuables_link?(label, :issues, project: @project)
- show_label_merge_requests_link = subject_or_group_defined && show_label_issuables_link?(label, :merge_requests, project: @project)

.label-name
  = render_label(label, tooltip: false)
.label-description
  .append-right-default.prepend-left-default
    - if label.description.present?
      .description-text
        = markdown_field(label, :description)
    %ul.label-links
      - if show_label_issues_link
        %li.label-link-item.inline
          = link_to_label(label, subject: subject) { 'Issues' }
      - if show_label_merge_requests_link
        &middot;
        %li.label-link-item.inline
          = link_to_label(label, subject: subject, type: :merge_request) { _('Merge requests') }
      - if force_priority
        &middot;
        %li.label-link-item.priority-badge.js-priority-badge.inline.prepend-left-10
          .label-badge.label-badge-blue= _('Prioritized label')
      = render_if_exists 'shared/label_row_epics_link', label: label
